In [1]:
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
import numpy as np
import sys
import matplotlib.pyplot as plt 
np.set_printoptions(threshold=sys.maxsize)

In [2]:
csv1 = pd.read_csv('sequence_execution_time.csv')
#csv1.head()

In [3]:
csv1.tail()

,sequence_identifier,read_sequence,quality,execution_time
3999995,@HWI-D00360:5:H814YADXX:1:1115:18756:14266 1:N...,ACTAATAAAGAAAAAAAGAGAGAAGAATCAAATAGACGCAATAAAA...,C@CFFFFFHHHHHJGEHHIJJJIJIIJJJJJIJJIFIIIIGIJJIJ...,341.792
3999996,@HWI-D00360:5:H814YADXX:1:1115:18805:14266 1:N...,ATAAATGAATAATAGGCGGTTTCTGACATCAGGAAGTTTAGACCGC...,CCCFFFFFGHHHHJJJJJJGIJHIJGIIJJIJJIIJHIJJIIJJJJ...,556.625
3999997,@HWI-D00360:5:H814YADXX:1:1115:18868:14278 1:N...,GTATGGAAATACCTGGATGTCCAGGCAGAAGTGTGCTACAGGGGCA...,@@CFFFFFHGHHHJIIIGIGHHAGGGIIBGG?ECCFFHIJJGEBDA...,8523.708
3999998,@HWI-D00360:5:H814YADXX:1:1115:18797:14322 1:N...,AACTCAGTAATTACTTTGATTTGGAGTCTTAATGCAATTTTACCCA...,CCCFFFFFHDHHHJJJJJJIJJJIJIHGHIIJJJJIJIJJJJJJJI...,880.708
3999999,@HWI-D00360:5:H814YADXX:1:1115:18971:14400 1:N...,GAAAATAGTTTCCCATTTGTTGCCACTGTTTTAAACTTACTGTTAT...,@@@FDFDBBDFFBFIGGGCFGFHHGIGEHIIIIEIIGE@GIIIGGI...,624.208

In [4]:
#data = csv1.drop(['sequence_identifier','quality'], axis = 1)
data = csv1

In [5]:
data1 = data.drop(csv1.index[500:]) #reduce dataset to 10% of original dataframe
#data.head()

In [6]:
data1.tail()

,sequence_identifier,read_sequence,quality,execution_time
495,@HWI-D00360:5:H814YADXX:1:1101:4753:2342 1:N:0...,AATTTACCTTGCCCAGATCCATCAGAGGAATCACTGTCTATGGCAG...,??@FFFFFHH?DFHHGHGHEEGHGGBHGAHGIBGE?C@CDFHHE9B...,5604.917
496,@HWI-D00360:5:H814YADXX:1:1101:4779:2350 1:N:0...,GCATGGAAAGCATTAGCCACTTGAATTCAAGGAAGAGCATTCTTGG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...,555.708
497,@HWI-D00360:5:H814YADXX:1:1101:4845:2365 1:N:0...,TTGCTTGAATCCGGGAGATGGAGGTTTGCAGTGAGCTGAAATCATG...,@@@DDDBDHBBDDD:G?GDEEGGH8BCHEGH?FDDFCHGGGEHHAG...,8450.375
498,@HWI-D00360:5:H814YADXX:1:1101:4891:2378 1:N:0...,GGCATTCTAAGTCACCCCCACAGCCCTCTAATGCCAGTCCAGCTGC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIIJJJIJJJJJJJJ...,670.417
499,@HWI-D00360:5:H814YADXX:1:1101:4940:2382 1:N:0...,AATAAAGTAAATTGAGTGGTAACTTTACAAAGACTTCAAAGTCAGC...,CCCFFFFDHHHHHJJJGIJIIJJJJJJJJJJJJJJJJJJJJIJJJJ...,555.750

In [7]:
reads = data1.drop(['sequence_identifier','quality'], axis =1)
reads

                                         read_sequence  execution_time
0    CTGGTCCTAACATCTGTTGACCATAGCCATATTTTTCAGAAAAGTC...        2295.125
1    TGGCTATGGGCTGCAATAATTCGTCTTTCTGAAAGGGCATTCAGCC...         674.000
2    ACTTTCTATCTCTATGGATTTAACCATTGTGGATATTTCATGTAAA...         757.209
3    ATCAAAAACATTCAAATGAAATCATCTTAAGTGCCAGAATTATAAA...         397.042
4    CAGGTTCCAATATTACAAATGCAAGGCCAGAAGGAGACTGCAAATG...         675.000
..                                                 ...             ...
495  AATTTACCTTGCCCAGATCCATCAGAGGAATCACTGTCTATGGCAG...        5604.917
496  GCATGGAAAGCATTAGCCACTTGAATTCAAGGAAGAGCATTCTTGG...         555.708
497  TTGCTTGAATCCGGGAGATGGAGGTTTGCAGTGAGCTGAAATCATG...        8450.375
498  GGCATTCTAAGTCACCCCCACAGCCCTCTAATGCCAGTCCAGCTGC...         670.417
499  AATAAAGTAAATTGAGTGGTAACTTTACAAAGACTTCAAAGTCAGC...         555.750

[500 rows x 2 columns]

In [8]:
def Kmers_funct(seq, size=9): #148 characters/sequence  size = 6 better? Used 4 previously.[SIze = 9 gave a r_sq = 1 is this the best value for data = 250, train = 0.8 random = 42, ngaram 4,4]??
    #Performed much better with same settings and more data. used 1000. r_sq reduced to 0.9999999999999962
   return [seq[x:x+size].lower() for x in range(len(seq) - size + 1)]
#convert our training data sequences into short overlapping k-mers of length 6. Lets do that for each species of data we have using our Kmers_funct function.
reads['words'] = reads.apply(lambda x: Kmers_funct(x['read_sequence']), axis=1)
reads = reads.drop('read_sequence', axis=1)

In [9]:
human_texts = list(reads['words'])
for item in range(len(human_texts)):
   human_texts[item] = ' '.join(human_texts[item])
#separate labels
Y = reads.iloc[:, 0].values # y_human for human_dna

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range = (4,4)) # initially (4,4)
X = cv.fit_transform(human_texts)
#from sklearn.feature_extraction.text import TfidfVectorizer
#tfid = TfidfVectorizer(ngram_range = (4,4))
#X = tfid.fit_transform(human_texts)
#print(X)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state = 42) 
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (400, 65749)
X_test (100, 65749)
y_train (400,)
y_test (100,)

In [12]:
import tensorflow as tf
from keras.optimizers import SGD
from keras.layers import Conv1D, Dense, MaxPooling1D, Flatten, Dropout
from keras.layers import *
from keras.models import Sequential
#from tensorflow.keras.layers import LSTM

In [13]:
#input_shape = (400, 400, 3)
#x = tf.random.normal(input_shape)


model = Sequential()
#model.add(tf.keras.layers.Reshape((400, 3), input_shape=(400,)))
##model.add(Input(shape=(400,3)))
#(X_train.shape[0],X_train.shape[1])
model.add(Conv1D(filters=64, kernel_size=64, input_shape=(X_train.shape[0],X_train.shape[1]), 
                 padding='same', activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=200, kernel_size=21, padding='same', activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.5))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dense(1))

epochs = 50
#lrate = 0.01
#decay = lrate / epochs
#sgd = SGD(learning_rate = lrate, momentum = 0.90, decay = decay, nesterov = False)
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy']) # Check accuracy being used here. This may be for classification
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 400, 64)           269307968

 max_pooling1d (MaxPooling1D  (None, 200, 64)          0
 )

 conv1d_1 (Conv1D)           (None, 200, 200)          269000

 max_pooling1d_1 (MaxPooling  (None, 100, 200)         0
 1D)

 dropout (Dropout)           (None, 100, 200)          0

 flatten (Flatten)           (None, 20000)             0

 dense (Dense)               (None, 128)               2560128

 dropout_1 (Dropout)         (None, 128)               0

 dense_1 (Dense)             (None, 128)               16512

 dense_2 (Dense)             (None, 1)                 129

=================================================================
Total params: 272,153,737
Trainable params: 272,153,737
Non-trainable params: 0
_________________________________________________________________

In [17]:
#X_train = tf.reshape(X_train,shape = [-1,250,3])
#y_train = tf.reshape(y_train,shape = [-1,250,1])

In [18]:
history = model.fit(X_train, y_train, 
                    epochs=epochs, verbose=1, batch_size=50)

InvalidArgumentError: {{function_node __wrapped__SerializeManySparse_device_/job:localhost/replica:0/task:0/device:CPU:0}} indices[2] = [0,4573] is out of order. Many sparse ops require sorted indices.
    Use `tf.sparse.reorder` to create a correctly ordered copy.

 [Op:SerializeManySparse]

In [ ]:
X_test = tf.reshape(X_test,shape = [-1,250,3])
#y_test = tf.reshape(y_test,shape = [-1,100,1])
X_test = np.array(X_test)

In [ ]:
ypred = model.predict(X_test)

In [ ]:
ypred.shape

In [ ]:
print(ypred)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("MSE: %.4f" % mean_squared_error(y_test, ypred))