In [1]:

%load_ext autoreload

In [2]:
%autoreload 
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
import numpy as np
import sys
import matplotlib.pyplot as plt 
np.set_printoptions(threshold=sys.maxsize)

In [3]:
csv1 = pd.read_csv('sequence_execution_time.csv')
#csv1.head()

In [4]:
csv1.tail()

,sequence_identifier,read_sequence,quality,execution_time
3999995,@HWI-D00360:5:H814YADXX:1:1115:18756:14266 1:N...,ACTAATAAAGAAAAAAAGAGAGAAGAATCAAATAGACGCAATAAAA...,C@CFFFFFHHHHHJGEHHIJJJIJIIJJJJJIJJIFIIIIGIJJIJ...,341.792
3999996,@HWI-D00360:5:H814YADXX:1:1115:18805:14266 1:N...,ATAAATGAATAATAGGCGGTTTCTGACATCAGGAAGTTTAGACCGC...,CCCFFFFFGHHHHJJJJJJGIJHIJGIIJJIJJIIJHIJJIIJJJJ...,556.625
3999997,@HWI-D00360:5:H814YADXX:1:1115:18868:14278 1:N...,GTATGGAAATACCTGGATGTCCAGGCAGAAGTGTGCTACAGGGGCA...,@@CFFFFFHGHHHJIIIGIGHHAGGGIIBGG?ECCFFHIJJGEBDA...,8523.708
3999998,@HWI-D00360:5:H814YADXX:1:1115:18797:14322 1:N...,AACTCAGTAATTACTTTGATTTGGAGTCTTAATGCAATTTTACCCA...,CCCFFFFFHDHHHJJJJJJIJJJIJIHGHIIJJJJIJIJJJJJJJI...,880.708
3999999,@HWI-D00360:5:H814YADXX:1:1115:18971:14400 1:N...,GAAAATAGTTTCCCATTTGTTGCCACTGTTTTAAACTTACTGTTAT...,@@@FDFDBBDFFBFIGGGCFGFHHGIGEHIIIIEIIGE@GIIIGGI...,624.208

In [5]:
#data = csv1.drop(['sequence_identifier','quality'], axis = 1)
data = csv1

In [6]:
data1 = data.drop(csv1.index[500:]) #reduce dataset to 10% of original dataframe
#data.head()

In [7]:
data1.tail()

,sequence_identifier,read_sequence,quality,execution_time
495,@HWI-D00360:5:H814YADXX:1:1101:4753:2342 1:N:0...,AATTTACCTTGCCCAGATCCATCAGAGGAATCACTGTCTATGGCAG...,??@FFFFFHH?DFHHGHGHEEGHGGBHGAHGIBGE?C@CDFHHE9B...,5604.917
496,@HWI-D00360:5:H814YADXX:1:1101:4779:2350 1:N:0...,GCATGGAAAGCATTAGCCACTTGAATTCAAGGAAGAGCATTCTTGG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...,555.708
497,@HWI-D00360:5:H814YADXX:1:1101:4845:2365 1:N:0...,TTGCTTGAATCCGGGAGATGGAGGTTTGCAGTGAGCTGAAATCATG...,@@@DDDBDHBBDDD:G?GDEEGGH8BCHEGH?FDDFCHGGGEHHAG...,8450.375
498,@HWI-D00360:5:H814YADXX:1:1101:4891:2378 1:N:0...,GGCATTCTAAGTCACCCCCACAGCCCTCTAATGCCAGTCCAGCTGC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIIJJJIJJJJJJJJ...,670.417
499,@HWI-D00360:5:H814YADXX:1:1101:4940:2382 1:N:0...,AATAAAGTAAATTGAGTGGTAACTTTACAAAGACTTCAAAGTCAGC...,CCCFFFFDHHHHHJJJGIJIIJJJJJJJJJJJJJJJJJJJJIJJJJ...,555.750

In [8]:
reads = data1.drop(['sequence_identifier','quality'], axis =1)
reads

                                         read_sequence  execution_time
0    CTGGTCCTAACATCTGTTGACCATAGCCATATTTTTCAGAAAAGTC...        2295.125
1    TGGCTATGGGCTGCAATAATTCGTCTTTCTGAAAGGGCATTCAGCC...         674.000
2    ACTTTCTATCTCTATGGATTTAACCATTGTGGATATTTCATGTAAA...         757.209
3    ATCAAAAACATTCAAATGAAATCATCTTAAGTGCCAGAATTATAAA...         397.042
4    CAGGTTCCAATATTACAAATGCAAGGCCAGAAGGAGACTGCAAATG...         675.000
..                                                 ...             ...
495  AATTTACCTTGCCCAGATCCATCAGAGGAATCACTGTCTATGGCAG...        5604.917
496  GCATGGAAAGCATTAGCCACTTGAATTCAAGGAAGAGCATTCTTGG...         555.708
497  TTGCTTGAATCCGGGAGATGGAGGTTTGCAGTGAGCTGAAATCATG...        8450.375
498  GGCATTCTAAGTCACCCCCACAGCCCTCTAATGCCAGTCCAGCTGC...         670.417
499  AATAAAGTAAATTGAGTGGTAACTTTACAAAGACTTCAAAGTCAGC...         555.750

[500 rows x 2 columns]

In [9]:
def Kmers_funct(seq, size=9): #148 characters/sequence  size = 6 better? Used 4 previously.[SIze = 9 gave a r_sq = 1 is this the best value for data = 250, train = 0.8 random = 42, ngaram 4,4]??
    #Performed much better with same settings and more data. used 1000. r_sq reduced to 0.9999999999999962
   return [seq[x:x+size].lower() for x in range(len(seq) - size + 1)]
#convert our training data sequences into short overlapping k-mers of length 6. Lets do that for each species of data we have using our Kmers_funct function.
reads['words'] = reads.apply(lambda x: Kmers_funct(x['read_sequence']), axis=1)
reads = reads.drop('read_sequence', axis=1)

In [10]:
human_texts = list(reads['words'])
for item in range(len(human_texts)):
   human_texts[item] = ' '.join(human_texts[item])
#separate labels
Y = reads.iloc[:, 0].values # y_human for human_dna

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range = (4,4)) # initially (4,4)
X = cv.fit_transform(human_texts)
#from sklearn.feature_extraction.text import TfidfVectorizer
#tfid = TfidfVectorizer(ngram_range = (4,4))
#X = tfid.fit_transform(human_texts)
#print(X)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state = 42) 
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (400, 65749)
X_test (100, 65749)
y_train (400,)
y_test (100,)