In [33]:
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
import numpy as np
import sys
import matplotlib.pyplot as plt 
np.set_printoptions(threshold=sys.maxsize)

In [34]:
csv1 = pd.read_csv('sequence_execution_time.csv')

In [35]:
csv1.tail()

,sequence_identifier,read_sequence,quality,execution_time
3999995,@HWI-D00360:5:H814YADXX:1:1115:18756:14266 1:N...,ACTAATAAAGAAAAAAAGAGAGAAGAATCAAATAGACGCAATAAAA...,C@CFFFFFHHHHHJGEHHIJJJIJIIJJJJJIJJIFIIIIGIJJIJ...,341.792
3999996,@HWI-D00360:5:H814YADXX:1:1115:18805:14266 1:N...,ATAAATGAATAATAGGCGGTTTCTGACATCAGGAAGTTTAGACCGC...,CCCFFFFFGHHHHJJJJJJGIJHIJGIIJJIJJIIJHIJJIIJJJJ...,556.625
3999997,@HWI-D00360:5:H814YADXX:1:1115:18868:14278 1:N...,GTATGGAAATACCTGGATGTCCAGGCAGAAGTGTGCTACAGGGGCA...,@@CFFFFFHGHHHJIIIGIGHHAGGGIIBGG?ECCFFHIJJGEBDA...,8523.708
3999998,@HWI-D00360:5:H814YADXX:1:1115:18797:14322 1:N...,AACTCAGTAATTACTTTGATTTGGAGTCTTAATGCAATTTTACCCA...,CCCFFFFFHDHHHJJJJJJIJJJIJIHGHIIJJJJIJIJJJJJJJI...,880.708
3999999,@HWI-D00360:5:H814YADXX:1:1115:18971:14400 1:N...,GAAAATAGTTTCCCATTTGTTGCCACTGTTTTAAACTTACTGTTAT...,@@@FDFDBBDFFBFIGGGCFGFHHGIGEHIIIIEIIGE@GIIIGGI...,624.208

In [94]:
data = csv1

In [95]:
data = data.drop(csv1.index[100:])

In [96]:
data.tail()

,sequence_identifier,read_sequence,quality,execution_time
95,@HWI-D00360:5:H814YADXX:1:1101:6582:2134 1:N:0...,CAGTTTATCTTATTAATCTAGTGTTACCCTAATATAAAAACAATAA...,BBCDFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...,363.375
96,@HWI-D00360:5:H814YADXX:1:1101:6746:2208 1:N:0...,AGGAAGGAAGCTTTGCCAGGAAGTTCAAATGTCAGGGACCTAGTTC...,CCCFFFFFHFHGFJGIIIJJJJJFHIJJIIIJJJJJJJJJIJJFHI...,832.833
97,@HWI-D00360:5:H814YADXX:1:1101:6514:2215 1:N:0...,AGATTAGCCGGGCGTGGTGGAAGGCGCCTATAGTCCCAGCTACTCG...,CCCFFFFFHGHGHJHIJGHJJJJJJJJJJJJJJJJJJJJJJJJJHH...,23371.750
98,@HWI-D00360:5:H814YADXX:1:1101:6718:2227 1:N:0...,CTTCTAACTGAAAAACGATGCCAGCTGTAGGACCCAGCTGCTCTTG...,CCCFFFFFHHHGFJHHHIIIIIIJJGGHIIJIIJJIJJIIJIJIII...,346.875
99,@HWI-D00360:5:H814YADXX:1:1101:6821:2106 1:N:0...,CTGGGAAAGACTTTGCTTCTCCTTCATATTTAAAGAATAACTTTGA...,?;?DDBDBCHBFDHB<<AEI<AFH@GIEHIFCHACDHIDC???FHI...,1141.041

In [97]:
data.describe()

       execution_time
count       100.00000
mean       2279.86165
std        4930.63685
min         231.62500
25%         583.16675
50%         676.77100
75%        1363.34350
max       39157.25000

In [98]:
# categorical_features = np.where(data.dtypes != np.float64)[0]
# categorical_features

In [99]:
reads = data.drop(['sequence_identifier','quality'], axis =1)
reads

                                        read_sequence  execution_time
0   CTGGTCCTAACATCTGTTGACCATAGCCATATTTTTCAGAAAAGTC...        2295.125
1   TGGCTATGGGCTGCAATAATTCGTCTTTCTGAAAGGGCATTCAGCC...         674.000
2   ACTTTCTATCTCTATGGATTTAACCATTGTGGATATTTCATGTAAA...         757.209
3   ATCAAAAACATTCAAATGAAATCATCTTAAGTGCCAGAATTATAAA...         397.042
4   CAGGTTCCAATATTACAAATGCAAGGCCAGAAGGAGACTGCAAATG...         675.000
..                                                ...             ...
95  CAGTTTATCTTATTAATCTAGTGTTACCCTAATATAAAAACAATAA...         363.375
96  AGGAAGGAAGCTTTGCCAGGAAGTTCAAATGTCAGGGACCTAGTTC...         832.833
97  AGATTAGCCGGGCGTGGTGGAAGGCGCCTATAGTCCCAGCTACTCG...       23371.750
98  CTTCTAACTGAAAAACGATGCCAGCTGTAGGACCCAGCTGCTCTTG...         346.875
99  CTGGGAAAGACTTTGCTTCTCCTTCATATTTAAAGAATAACTTTGA...        1141.041

[100 rows x 2 columns]

In [100]:
#Normalize data
reads['execution_time'] = np.log10(reads.execution_time)
reads

                                        read_sequence  execution_time
0   CTGGTCCTAACATCTGTTGACCATAGCCATATTTTTCAGAAAAGTC...        3.360806
1   TGGCTATGGGCTGCAATAATTCGTCTTTCTGAAAGGGCATTCAGCC...        2.828660
2   ACTTTCTATCTCTATGGATTTAACCATTGTGGATATTTCATGTAAA...        2.879216
3   ATCAAAAACATTCAAATGAAATCATCTTAAGTGCCAGAATTATAAA...        2.598836
4   CAGGTTCCAATATTACAAATGCAAGGCCAGAAGGAGACTGCAAATG...        2.829304
..                                                ...             ...
95  CAGTTTATCTTATTAATCTAGTGTTACCCTAATATAAAAACAATAA...        2.560355
96  AGGAAGGAAGCTTTGCCAGGAAGTTCAAATGTCAGGGACCTAGTTC...        2.920558
97  AGATTAGCCGGGCGTGGTGGAAGGCGCCTATAGTCCCAGCTACTCG...        4.368691
98  CTTCTAACTGAAAAACGATGCCAGCTGTAGGACCCAGCTGCTCTTG...        2.540173
99  CTGGGAAAGACTTTGCTTCTCCTTCATATTTAAAGAATAACTTTGA...        3.057301

[100 rows x 2 columns]

In [101]:
def Kmers_funct(seq, size=9): 
   return [seq[x:x+size].upper() for x in range(len(seq) - size + 1)]

reads['words'] = reads.apply(lambda x: Kmers_funct(x['read_sequence']), axis=1)
reads = reads.drop('read_sequence', axis=1)

In [115]:
reads

    execution_time                                              words
0         3.360806  [CTGGTCCTA, TGGTCCTAA, GGTCCTAAC, GTCCTAACA, T...
1         2.828660  [TGGCTATGG, GGCTATGGG, GCTATGGGC, CTATGGGCT, T...
2         2.879216  [ACTTTCTAT, CTTTCTATC, TTTCTATCT, TTCTATCTC, T...
3         2.598836  [ATCAAAAAC, TCAAAAACA, CAAAAACAT, AAAAACATT, A...
4         2.829304  [CAGGTTCCA, AGGTTCCAA, GGTTCCAAT, GTTCCAATA, T...
..             ...                                                ...
95        2.560355  [CAGTTTATC, AGTTTATCT, GTTTATCTT, TTTATCTTA, T...
96        2.920558  [AGGAAGGAA, GGAAGGAAG, GAAGGAAGC, AAGGAAGCT, A...
97        4.368691  [AGATTAGCC, GATTAGCCG, ATTAGCCGG, TTAGCCGGG, T...
98        2.540173  [CTTCTAACT, TTCTAACTG, TCTAACTGA, CTAACTGAA, T...
99        3.057301  [CTGGGAAAG, TGGGAAAGA, GGGAAAGAC, GGAAAGACT, G...

[100 rows x 2 columns]

In [116]:
human_texts = list(reads['words'])
for item in range(len(human_texts)):
   human_texts[item] = ' '.join(human_texts[item])
#separate labels
y_human = reads.iloc[:, 0].values # y_human for human_dna

In [117]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range = (4,4)) # initially (4,4)
X = cv.fit_transform(human_texts)

In [118]:
Y= y_human

X= X

In [119]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error, r2_score
import math

In [120]:
# X = reads.read_sequence
# Y = reads.execution_time

In [121]:
# X.head()

In [122]:
# Y.head()

In [123]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state = 42)
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (80, 13497)
X_test (20, 13497)
y_train (80,)
y_test (20,)

In [124]:
# categorical_features_indices = np.where(X.dtypes != np.float64)[0]
# categorical_features_indices

In [125]:
from catboost import  EShapCalcType, EFeaturesSelectionAlgorithm

In [126]:
cat_model = CatBoostRegressor( random_seed = 42) #iterations= 5, early_stopping_rounds = 1,

In [127]:
# # Fit model and validate
# cat_model.fit(X_train,
#               y_train,
#               eval_set = (X_test, y_test),
#               plot=True,
#               verbose = False
#               )

In [ ]:
summary = cat_model.select_features(
                    X = X_train,
                    y = y_train,
                    eval_set=(X_test, y_test),
                    features_for_select='0-13496',
                    num_features_to_select = 13000,
                    steps = 2,
                    algorithm=EFeaturesSelectionAlgorithm.RecursiveByShapValues,
                    shap_calc_type=EShapCalcType.Regular,
                    train_final_model=True,
                    logging_level='Silent',
                    plot=True
                    
)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [ ]:
# feature_importance = pd.DataFrame(cat_model.get_feature_importance(prettified=True))

# plt.figure(figsize=(12, 6));
# feature_plot= sns.barplot(x="Importances", y="Feature Id", data = feature_importance,palette="cool");
# plt.title('feature importance');

In [ ]:
y_predict_train = cat_model.predict(X_train)
y_predict= cat_model.predict(X_test)
#RMSE
Rmse_train = math.sqrt(mean_squared_error(y_train,y_predict_train ))
Rmse_test = math.sqrt(mean_squared_error(y_test,y_predict))

#R
r2_train = cat_model.score(X_train,y_train)
r2_test = r2_score(y_test,y_predict)

# Adjusted R2 
n= X_train.shape[0] 
p= X_train.shape[1] 
adj_r2_test = 1-(1-r2_test)*(n-1)/(n-p-1)

print("Evaluation on test data")
print("RMSE train: {:.2f}".format(Rmse_train))
print("RMSE test: {:.2f}".format(Rmse_test))
print("R2 train: {:.2f}".format(r2_train))
print("R2 test: {:.2f}".format(r2_test))
print("Adjusted R2: {:.2f}".format(adj_r2_test))

In [ ]:
x_ax = range(len(y_test))
f = plt.figure()
f.set_figwidth(30)
f.set_figheight(5)
plt.plot(x_ax, y_test, label="truth")
plt.plot(x_ax, y_predict, label="predicted")
plt.title("Truth vs predicted Revenue")
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.legend(loc='best',fancybox=True, shadow=True)
plt.grid(True)
plt.show()

In [ ]:
y_pred_non_log = 10**(y_predict) 
y_test_non_log = 10**(y_test)

In [ ]:
from sklearn.metrics import mean_squared_log_error
rmsle = mean_squared_log_error(y_test_non_log,y_pred_non_log)**0.5
rmsle

In [ ]:
x_ax = range(len(y_test_non_log))
f = plt.figure()
f.set_figwidth(30)
f.set_figheight(5)
plt.plot(x_ax, y_test_non_log, label="truth")
plt.plot(x_ax, y_pred_non_log, label="predicted")
plt.title("Truth vs predicted Revenu")
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.legend(loc='best',fancybox=True, shadow=True)
plt.grid(True)
plt.show()